h1 {
	color: blue;
	text-align: center;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

h4 {
	text-align: center;
}

h5 {
	text-align: center;
}

h6 {
	text-align: center;
}

a:link, a:visited {
	background-color: #f44336;
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: red;
}

div.link {
	margin: auto;
	width: 99%;
}
